/* === GLOBAL === */
.container {
  display: grid;
  min-height: 100vh;
  grid-gap: 1vh;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto 1fr auto;
  grid-template-areas: "search" "navbar" "hd" "main" "ft";
  /* border: 2px solid yellow; */
}

.box {
  display: flex;
  flex-direction: row;
  justify-content: start;
  /* width: 100%; */
  /* border: 1px solid red; */
}

/* === SEARCH === */

.search-box {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  /* width: 100%; */
  /* border: 1px solid red; */
}

.search {
  grid-area: search;
  margin: 1vh 1vw;
}

input {
  background: none;
  border: 0px;
}
input:focus {
  outline: none;
}
input::placeholder {
  font-family: Lora, "Helvetica Neue", Arial, Helvetica, Verdana, sans-serif;
}

/* === NAVBAR === */

button {
  background: none;
  border: none;
}

button:hover {
  color: salmon;
}

.navbar {
  grid-area: navbar;
  margin: 1vh 1vw;
}

/* === HEADER === */

.header {
  grid-area: hd;
  background-image: url(https://images.pexels.com/photos/261662/pexels-photo-261662.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
  background-size: cover;
  height: 20vh;
}

/* === MAIN === */

.content {
  display: flex;
  grid-area: main;
  flex-direction: column;
  justify-content: space-evenly;
}

.card {
  margin: 0 auto;
  padding: 10px;
  margin: 20px;
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.377);
  border-radius: 20px;
}

.card-header {
  border-radius: 20px 20px 0px 0px;
}

.card-body {
  border-radius: 00px 00px 20px 20px;
}

.card-footer {
  border-radius: 00px 00px 20px 20px;
  display: flex;
  justify-content: stretch;
}

a {
  border-radius: 5px;
  border: 1px solid black;
  width: 100%;
  text-align: center;
  color: black;
  text-decoration: none;
}

a:hover {
  background: black;
}

/* === FOOTER === */
.footer {
  grid-area: ft;
  display: flex;
  justify-content: center;
  background-color: grey;
}
