@media (min-width: 901px) {
  .container {
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: "navbar search" "main about" "ft ft";
  }
  .text-card {
    margin: 2vh 2vw;
    padding: 1vh 2vw;
  }
  .post-img {
    max-height: 50vh;
  }
}
